/tianchi_xuelang/train/


/kaggle_youtube/
/kaggle_credit_risk/log_reg_baseline.csv
/kaggle_credit_risk/random_forest_baseline.csv
/kaggle_credit_risk/data/
/kaggle_house_price/feature/
/kaggle_house_price/sample_submission/
/kaggle_mnist/data/
/kaggle_house_price/.ipynb_checkpoints/
/kaggle_house_price/.idea/
/**/.idea/
/**/.ipynb_checkpoints/
/**/input/
**/output/
/**/models/
/**/__pycache__/
/**/data/
